@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #eee;
}

.dark * {
    scrollbar-color: #ccc;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 14px;
}

.dark *::-webkit-scrollbar-track {
    background: #ccc;
}
.dark *::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

@tailwind components;
@tailwind utilities;